<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1>Login Form</h1>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", require: :true %>
          </div>

          <div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password", require: :true %>
          </div>

          <div>
            <%= f.submit "Log in", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>

